/* 
    Paleta de colores
    ##B9B4D9, #0A0B0D, ##5D75A6, ##405173, ##283040
*/
*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro";
    list-style: none;
    box-sizing: border-box;
}
body{
    height: 150vh;
    background: linear-gradient(90deg, #24458780 6%, #40517345 48%, #275dca3a 100%);
}
.container_header{
    width: 100%;
    height: 41%;
    background-color: #283040;
    background-image: linear-gradient(10deg, #283040ab,#40517385, #b9b4d9b9),url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 0.1px;
}
.menu{
    text-align: right;
    margin-right: 0%;
    margin-top: 1%;
    background: linear-gradient(90deg, #0A0B0D 6%, #405173 48%, #283040 100%);
}

.menu a{
    color: #0A0B0D;
    text-decoration: none; 
    font-size: 21px;
}
.menu a:hover{
    color: #F2F2F2;
    border-color: 2px solid #B9B4D9;
}
.menu > li{
    display: inline-block;
    padding: 1.2% 2.2%;
    background-color: #B9B4D9;
    margin-right: 0.1%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border-radius: 15px; 
    
}
.menu li:hover{
    transform: scale(1.09);
    transition: all 1s;
    background-color: #283040;
    border: 2px solid #B9B4D9;
    
}
.menu .btn_contacto{
    background-color: #405173;
    border: 3px solid #0A0B0D;
    margin-right: 1%;
}
.menu .contacto{
    color: #F2F2F2;
}
.title{
    text-align: center;
    font-size: 5em;
    margin-top: 5%;
    color: #0A0B0D;
    
}
.fm_contact{
    width: 45%;
    height: auto; /* ocupe hacia abajo todo lo que deba */
    margin: 2% auto;
    border: 7px solid #283040;
    border-radius: 30px;
    padding: 2% 1%;
    text-align: center;
    background-color: #28304021;
}
.fm_contact > hr{
    margin-bottom: 3%;
    border-color: #0A0B0D;
}
.title_form{
    margin: 2% 0;
    text-align: center;
    font-size: 35px;
    color: #0A0B0D;
}
.fm_contact >input, label, button{
    display: inline-block;
    width: 80%;
    margin: 1% 0;
    font-size: 25px;
    color: #0A0B0D;
    border-radius: 10px;
}
.fm_contact > input, .msn{
    padding: 2% 2%;
    border: none;
    border-bottom: 4px solid #e1e5ec;
    outline: none;
    background-color: #0A0B0D;
    border-radius: 10px;
    color: #ddd9ed;
}
.fm_contact > input{
    font-size: 18px;
}
.msn{
    width: 80%;
}
.fm_contact > label{
    text-align: left;
    padding: 5px;
}
input:focus, .msn:focus{
    border-bottom: none;
    border-right: 5px solid #0A0B0D;
    background-color: #001a4a;
    color: #ffffff;
    transition: all 0.3s;
    font-size: 21px;
}
.fm_contact .cargo{
    width: 80%;
    border-radius: 10px;
    padding: 1.8%;
    font-size: 18px;
    background-color: #1b182a;
    color: #ddd9ed;
}
.fm_contact .cargo:focus{
    font-size: 21px;
    transition: all 0.3s;
    border-right: 5px solid #0A0B0D;
    background-color: #001a4a;
    cursor: pointer;
    color: #ffffff;
}
.fm_contact > select .option{
    border-radius: 20px;
    cursor: pointer;
}
.btn_enviar, .btnRegistrar, .btnCancelar{
    width:30%;
    text-align: center;
    margin-top: 5%;
    padding: 10px 18px;
    background-color: #0A0B0D;
    border-radius: 10px;
    font-size: 25px;
    border: 2px solid #0f0101;
    color: #F2F2F2;
    cursor: pointer;
    border-bottom: 4px solid #F2F2F2;
}
.btn_enviar:hover{
    transform: scale(1.1);
    transition: all 1s;
    background-color: #283040;
    font-size: 26px;
    border-bottom: 5px solid #F2F2F2;
}
.footer{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;  /* direccion */
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    background: linear-gradient(90deg, #0A0B0D 6%, #405173 48%, #283040 100%);
    overflow: hidden;
}
.foot{
    display: inline;
    margin: 3%;
    text-align: center;
}
.copy{
    width: 30%;
    height: auto;
    color: #f2f2f2;
    line-height: 40px;
}
.my_nets, .map{
    width: 30%;
    height: auto;
}

.title_about, .title_nets, .title_ubi{
    color: #f2f2f2;
    margin-bottom: 3%;
    padding: 1%;
}
.social_net > li{
    padding: 1%;
}
.social_net > li:Hover{
    transform: scale(1.3);
    transition: all 1s;
}
.nets{
    width: 8%;
}
.foot > iframe{
    width: 100%;
    height: auto;
    border: 0;
}
.credits{
    width: 100vw;
    padding: 2%;
    background-color: #0A0B0D;
    text-align: right;
    color: #f2f2f2;
    overflow: hidden;
}
.credits > a{
    color: #f2f2f2;
    text-decoration: none;
}

.card{
    width: 60%;
    margin: 5% auto; 
    border: 4px solid #0a0a0a; 
    background-color: #F2F2F2;
    text-align: center;
}
.card_P{
    width: 60%;
    margin: 5% auto; 
    border: 4px solid #0f0400; 
    background-color: #405173;
    text-align: center;
    color: #F2F2F2;
} 
.title-card{
    font-size:35px;
    padding: 2%;
}
.card > .data-card, .card > .text-mail{
    color: #0A0B0D;
}
.card hr {
    border-color: #0A0B0D;
}
.card_P hr{
    border-color: #F2F2F2;
}
.data-card, .text-mail{
    font-size: 25px;
    color: #F2F2F2;
    padding: 1% 0;
} 
.text-cargo, .text-msn{
    font-size: 25px;
    padding: 1% 0;
}
.text-telefono{
    font-size: 25px;
    padding: 1% 0;
}
.btnRegistrar:hover, .btnCancelar:hover{
    background: #b6a9ab; 
    text-decoration:underline;
}
.alerta{
    width: 30%;
    height: auto; 
    background: #283040; 
    position: fixed;
    top: calc(100vh - 65%);
    left: calc(100vw - 65%);
    text-align: center; 
    border: 4px solid #F2F2F2;
    padding: 5px;
    border-radius: 15px;
} 
.textAlerta{
    width: 100%;
    margin-top: 12%;
    margin-bottom: 10%;
    color: #F2F2F2;
    font-size: 25px;
}
.btnAlerta{
    width: 30%;
    cursor: pointer;
    height: auto; 
    margin: 0 5%;
    margin-bottom: 3%;
    background: #405173; 
    border: none; 
    border-radius: 12px; 
    font-size: 20px;
    color: #F2F2F2;
    padding: 3%;
}
.btnAlerta:hover{
    transform: scale(1.1);
    transition: all 0.9s;
    border: 2px solid #F2F2F2;
    background-color: #0A0B0D;
    font-size: 25px;
}
/* Estilo de validacion */
.is-valid{
    border-bottom: 4px solid #02fc2b !important;
}
.is-invalid{
    border-bottom: 4px solid #ff0404 !important;
}

/* *Medias query */ /* Tamaños de pantalla */

@media (min-width: 768px) and (max-width:1000px){
    .menu{
        padding: 2%;
    }
    .menu > li{
        font-size: 20px;
    }
    .title{
        font-size: 4.0em;
        margin-top: 9%;
    }
    .fm_contact{
        width: 70%;
    }
    .container_header{
        height: 30%;
    }
    .alerta{
        width: 44%;
        top: calc(100vh - 75%);
        left: calc(100vw - 72%);
    }
    .btn_enviar{
        font-size: 30px;
    }
    .btn_enviar:hover{
        transform: scale(1.2);
    }
    .card{
        width: 70%;
        margin: 5% auto; 
        border: 4px solid #0a0a0a;
        height: auto;   
    }
    .card_P{
        width: 70%;
        height: auto;
        margin: 5% auto; 
        border: 4px solid #0f0400; 
    }
    .title-card{
        font-size: 35px;
        padding: 2%;
    }
    .data-card, .text-mail, .text-cargo, .text-msn, .text-telefono{
        font-size: 25px;
        padding: 1% 2%;
    }
}

@media(min-width:680px) and (max-width:768px){
    .menu{
        padding: 2%;
    }
    .menu >li{
        font-size: 18px;
        margin-bottom: 1.5%;
    }
    .title{
        font-size: 3.2em;
        margin-top: 11%;
    }
    .fm_contact{
        width: 75%;
    }
    .container_header{
        height: 25%;
    }
    .btn_enviar, .btnRegistrar, .btnCancelar{
        width: 36%;
        margin-top: 2.0%;
        padding: 10px 30px;
        font-size: 25px;
    }
    .btn_enviar:hover{
        transform: scale(1.01);
        font-size: 28px;
        transition: all 0.8s;
    }
    .alerta{
        width: 50%;
        top: calc(100vh - 75%);
        left: calc(100vw - 75%);
    }
    .textAlerta{
        font-size: 23px;
    }
    .card{
        width: 55%;
        margin: 5% auto; 
        border: 4px solid #0a0a0a;
        height: auto;   
    }
    .card_P{
        width: 55%;
        height: auto;
        margin: 5% auto; 
        border: 4px solid #0f0400; 
    }
    .title-card{
        font-size: 25px;
        padding: 2%;
    }
    .data-card, .text-mail{
        font-size: 18px;
        padding: 1% 2%;
    } 
    .text-cargo, .text-msn{
        font-size: 18px;
        padding: 1% 2%;
    }
    .text-telefono{
        font-size: 18px;
        padding: 1% 2%;
    }
    .card{
        width: 70%;
        margin: 5% auto; 
        border: 4px solid #0a0a0a;
        height: auto;   
    }
    .card_P{
        width: 70%;
        height: auto;
        margin: 5% auto; 
        border: 4px solid #0f0400; 
    }
    .title-card{
        font-size: 32px;
        padding: 2%;
    }
    .data-card, .text-mail, .text-cargo, .text-msn, .text-telefono{
        font-size: 25px;
        padding: 1% 2%;
    }
}
@media(min-width:580px) and (max-width:679px){
    .menu{
        padding: 1%;
    }
    .menu >li{
        font-size: 15px;
        padding: 1.7%;
    }
    .title{
        font-size: 2.5em;
        margin-top: 6%;
    }
    .fm_contact{
        width: 80%;
        height: auto;
        margin: 3% auto;
        border: 3.5px solid #283040;
        border-radius: 15px;
    }
    .container_header{
        height: 18%;
    }
    .fm_contact>input,label, button{
        font-size: 21px;
    }
    .btn_enviar, .btnRegistrar, .btnCancelar{
        width: 30%;
        margin-top: 3%;
        font-size: 25px;
        padding: 2% 3%;
    }
    .copy{
        line-height: 35px;
    }
    .alerta{
        width: 48%;
        top: calc(100vh - 70%);
        left: calc(100vw - 74%);
    }
    .textAlerta{
        font-size: 22px;
    }
    .btnAlerta{
        font-size: 18px;
    }
    .btnAlerta:hover{
        font-size: 20px;
    }
    .msn:focus{
        font-size: 18px;
    }
    .card{
        width: 75%;
        margin: 5% auto; 
        border: 3px solid #0a0a0a;
        height: auto;   
    }
    .card_P{
        width: 75%;
        height: auto;
        margin: 5% auto; 
        border: 3px solid #0f0400; 
    }
    .title-card{
        font-size: 28px;
        padding: 2%;
    }
    .data-card, .text-mail, .text-cargo, .text-msn, .text-telefono{
        font-size: 20px;
        padding: 1% 2%;
    } 
}
@media (min-width:340px) and (max-width:580px){
    .title{
        font-size: 1.5em;
        margin-top: 6%;
    }
    .menu{
        text-align: right;
        margin: 2%;
    }
    .menu >li{
        display: block;
        text-align: center;
        padding: 1%;
    }
    .title_form{
        font-size: 33px;
    }
    .fm_contact{
        width: 88%;
        border: 3px solid #001a4a;
    }
    .fm_contact>input,label, button, select{
        font-size: 15px;
    }
    .msn{
        font-size: 15px;
    }
    .msn:focus{
        font-size: 18px;
    }
    .container_header{
        height: 21%;
    }
    .btn_enviar, .btnRegistrar, .btnCancelar{
        width: 35%;
        margin-top: 2.8%;
        font-size: 15px;
    }
    .btn_enviar:hover{
        transform: scale(1.0);
        transition: all 0.5s;
        width: 40%;
        font-size: 20px;
    }
    .option{
        font-size: 16px;
    }
    .footer{
        display: block;
        text-align: center;
    }
    .foot >iframe{
        width: 90%;
    }
    .credits{
        height: auto;
        padding: 2%;
        font-size: 12px;
    }
    .alerta{
        width: 55%;
        top: calc(100vh - 75%);
        left: calc(100vw - 78%);
    }
    .textAlerta{
        font-size: 18px;
    }
    .btnAlerta{
        width: 35%;
        font-size: 15px;
    }
    .btnAlerta:hover{
        transform: scale(1.21);
        font-size: 16px;
    }
    .copy{
        line-height: 30px;
        font-size: 14px;
    }
    .card{
        width: 80%;
        margin: 5% auto; 
        border: 2px solid #0a0a0a;
        height: auto;   
    }
    .card_P{
        width: 80%;
        height: auto;
        margin: 5% auto; 
        border: 2px solid #0f0400; 
    }
    .title-card{
        font-size: 24px;
        padding: 2%;
    }
    .data-card, .text-mail, .text-cargo, .text-msn, .text-telefono{
        font-size: 17px;
        padding: 1% 2%;
    } 
}